<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>PDF Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdfeditor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Dropbox OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-$(DROPBOX_APP_KEY)</string>
			</array>
		</dict>
	</array>
	<key>DROPBOX_APP_KEY</key>
	<string>$(DROPBOX_APP_KEY)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-2</string>
		<string>dbapi-8-emm</string>
	</array>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>PDF Editor saves exported page images to your photo library when you choose Save to Photos.</string>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.wappltd.PDF-Reader</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>PDF Editor</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>REVENUECAT_API_KEY</key>
	<string>$(REVENUECAT_API_KEY)</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.wappltd.PDF-Reader.scan</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Scan Document</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.viewfinder</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.wappltd.PDF-Reader.import</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Import Files</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>square.and.arrow.down</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.wappltd.PDF-Reader.ask</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Ask your Library</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>sparkle.magnifyingglass</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.wappltd.PDF-Reader.tools</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tools</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>wrench.and.screwdriver</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<false/>
</dict>
</plist>
